@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%; /* Standard */
    -webkit-text-size-adjust: 100%; /* Webkit fallback */
    -ms-text-size-adjust: 100%; /* IE fallback */
  }

  body {
    @apply font-regal; /* Uses Playfair Display from tailwind.config.js */
  }
}
